<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/bean/spring-tx.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/rx/spring-beans.xsd">

    <import resource="spring-dao.xml"/>

    <bean id="dianYingMapper" class="com.kai.mapper.DianYingMapperImpl">
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>



</beans>