<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.mapper.LeiXingMapper">


    <select id="SelectByLeixingId" resultType="LeiXing">
        select * from lei_xing where id=#{xxx}
    </select>


<!--   一对多查询 -->
    <resultMap id="result" type="leiXing">
        <id property="id" column="id"></id>
        <collection property="dianYingList"
                    select="com.kai.mapper.DianYingMapper.selectAllByLeixingId"
                    ofType="DianYing"
                    fetchType="lazy"
                    column="id">
        </collection>
    </resultMap>

     <select id="selectByLeixingIdStepOne" resultMap="result">
        select * from lei_xing
    </select>

</mapper>